
.posts{
    max-width: 700px;
    margin: 2rem auto 0;

    a{
        display: block;

        & + a {
            margin-top: 2rem;
            padding-top: 1rem;
            border-top: 1px solid var(--gray-700);
        }

        strong{
            display: block;
            font-size: 1.5rem;
            margin-top: 1rem;
            line-height: 2rem;
            transition: 0.3s;
            font-weight: 700;
            color: var(--gray-100);
        }

        p{
            margin-top: 0.5rem;
            line-height: 1.625rem;
            transition: 0.3s;
            color: var(--gray-400);
        }

        .details{
            display: flex;
            flex-direction: row;

            time{
                font-size: 1rem;
                display: flex;
                align-items: center;
                color: var(--gray-300);
            }

            span{
                
            }
        }

        &:hover{
            strong{
                color: var(--yellow-500);
            }
            p{
                color: var(--gray-100);
            }
        }
    }
}